*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Comic Sans MS", sans-serif;
}

.container-contact {
  padding: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


button {
  font-size: 18px;
  padding: 10px 20px;
  color: rgb(252, 245, 245);
  border: none;
  background-color: #f80707;
  border-radius: 8px;
  
}

button:hover {
  background-color: #f3e5e5;
  color: hsl(0, 93%, 49%);
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(218, 10, 10, 0.979);
}

button:hover {
  color: rgb(236, 11, 11);
  box-shadow: 0 5px 15px rgba(218, 10, 10, 0.979);
}

table {
  width: 100%;
  padding: 10px;
  border-collapse: collapse;
}

td {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

td:first-child {
  width: 150px;
}

input[type="text"], textarea {
  width: 100%;
  font-size: 18px;
}

input[type="text"] {
  max-width: 40ch; /* Limits the input to 40 characters */
}

textarea {
  width: 100%;
  height: 100px; /* Approx. 5 lines high */
  resize: none; /* Disable resizing */
}

td[colspan="2"] {
  text-align: center;
}

button {
  width: 150px;
}


@media screen and (max-width: 768px) {
  .container-contact {
    padding: 20px;
  }

  td {
    text-align: left;
    font-size: 16px;
  }

  input[type="text"], textarea {
    font-size: 16px;
  }

  button {
    font-size: 16px;
    width: 100%;
  }

  td:first-child {
    width: auto;
  }
}